@use "./base.scss";

// put your custom CSS here!

//////////////////////////////////////////////////

.social-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid var(--gray);
  border-radius: 10px;
  background-color: var(--background-secondary);
  padding: 1em;
  max-width: 700px;
  height: 200px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);

  .card-image {
    height: 100%;
    width: auto;
    max-width: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1em;
    flex-shrink: 0;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;

    .card-author {
      font-weight: bold;
      font-size: 1.1em;
    }

    .card-text {
      font-style: italic;
      color: var(--text);
    }

    .card-footer a {
      color: var(--accent);
      text-decoration: none;
      font-size: 0.9em;
    }
  }
}

//////////////////////////////////////////////////

.markdown-reading-view .block-language-cardlink {
    margin: var(--p-spacing) 0;
}

.auto-card-link-container {
    container-type: inline-size;
    position: relative;
    overflow: hidden;
    user-select: none;

    --auto-card-link-button-width: calc(var(--icon-size) + var(--size-2-3));

    --auto-card-link-indent-size: 2.5em;

    &[data-auto-card-link-depth="0"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 0);
    }
    &[data-auto-card-link-depth="1"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 1);
    }
    &[data-auto-card-link-depth="2"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 2);
    }
    &[data-auto-card-link-depth="3"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 3);
    }
    &[data-auto-card-link-depth="4"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 4);
    }
    &[data-auto-card-link-depth="5"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 5);
    }
    &[data-auto-card-link-depth="6"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 6);
    }
    &[data-auto-card-link-depth="7"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 7);
    }
}

@container (max-width: 300px) {
    .auto-card-link-thumbnail {
        display: none;
    }
}

@container (max-width: 500px) {
    .auto-card-link-description {
        display: none;
    }
    .auto-card-link-thumbnail {
        max-width: 40% !important;
    }
    .auto-card-link-title {
        white-space: normal !important;
        --lh: 1.5em;
        line-height: var(--lh);
        height: calc(var(--lh) * 3);
    }
}

.auto-card-link-error-container {
    max-width: 780px;
    margin: 1em auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background-modifier-error);
    padding: 10px;
    font-family: var(--font-text);

    &:hover {
        background: var(--background-modifier-error-hover);
    }
}

.auto-card-link-card {
    display: flex;
    flex-direction: row-reverse;
    height: 8em;
    transition: 20ms ease-in 0s;
    cursor: pointer;
    text-decoration: none;
    color: var(--link-external-color);
    background: var(--background-primary-alt);
    border: solid var(--border-width) var(--divider-color);
    border-radius: var(--radius-s);

    &:hover {
        background: var(--background-modifier-hover);
        border-color: var(--background-modifier-hover);
        text-decoration: none;
    }
}

.auto-card-link-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.18em;
    padding: 0.5em 0.6em;
    overflow: hidden;
    text-align: left; /* necessary for ellipsis to work */
}

.auto-card-link-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
        color: var(--link-external-color-hover)
    }

    /* Prevent clash with edit block button */
    .is-live-preview .auto-card-link-container:hover &,
    .is-live-preview .block-language-cardlink:has(+ .edit-block-button:hover) &  {
      margin-right: var(--auto-card-link-button-width);
    }
}

.auto-card-link-description {
    overflow: hidden;
    --lh: 1.4em;
    line-height: var(--lh);
    height: calc(var(--lh) * 3);
    color: var(--text-muted);
    font-size: var(--font-smallest);
}

.auto-card-link-host {
    font-size: var(--font-smallest);
    display: flex;
    flex-direction: row;
    align-items: center;

    & span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* Prevent clash with copy url button */
    .auto-card-link-container:hover &,
    .is-mobile .auto-card-link-container & {
      margin-right: var(--auto-card-link-button-width);
    }

    &:hover {
        color: var(--link-external-color-hover)
    }
}


.auto-card-link-favicon {
    width: 16px !important;
    height: auto !important;
    margin: 0 0.5em 0 0 !important;
}

.auto-card-link-thumbnail {
    width: unset !important;
    border-radius: var(--radius-s) 0 0 var(--radius-s) !important;
    height: 100%;
    object-fit: cover;
    max-width: 50% !important;
    pointer-events: none;
}

.auto-card-link-copy-url {
    position: absolute;
    right: var(--size-2-2);
    bottom: var(--size-2-2);
    z-index: 1;

    /* Show copy button only on hover on desktop */
    .obsidian-app:not(.is-mobile) .auto-card-link-container:not(:hover) & {
      display: none;
    }
}

//////////////////////////////////////////////////

.w {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: none transparent;
	text-align: left;
}
.em > a,
.tc > a,
.th > a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
.em > a,
.tc > a,
.th > a {
	text-decoration: none;
	color: inherit;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
.w {
	line-height: 1.4;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: inherit;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.t,
.w,
.wf {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 100%;
	width: 100%;
}
@supports (-webkit-overflow-scrolling: touch) {
	.w {
		max-width: 100vw;
	}
}
.wc,
.wt {
	overflow: hidden;
}
._sm {
	background: inherit;
}
._lc .wf {
	-ms-flex-direction: row;
	flex-direction: row;
}
._lc .wt {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-align: center;
	align-items: center;
}
.wt {
	padding: 8px 10px;
}
@media (min-width: 360px) {
	.wt {
		padding: 12px 15px;
	}
}
@media (min-width: 600px) {
	.wt {
		padding: 16px 20px;
	}
}
._lc._sm:not(.xd) .wc {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
}
._lc._sm:not(.xd) .wc._wi {
	max-width: min(50%, 200px);
}
@media (min-width: 360px) {
	._lc._sm:not(.xd) .wc {
		min-width: 110px;
		width: 110px;
		min-height: 110px;
	}
}
@media (min-width: 360px) {
	._lc._sm:not(.xd) .wc._wi {
		max-width: min(50%, 220px);
	}
}
@media (min-width: 460px) {
	._lc._sm:not(.xd) .wc {
		min-width: 140px;
		width: 140px;
		min-height: 140px;
	}
}
@media (min-width: 460px) {
	._lc._sm:not(.xd) .wc._wi {
		max-width: min(50%, 280px);
	}
}
@media (min-width: 600px) {
	._lc._sm:not(.xd) .wc {
		min-width: 160px;
		width: 160px;
		min-height: 160px;
	}
}
@media (min-width: 600px) {
	._lc._sm:not(.xd) .wc._wi {
		max-width: min(50%, 320px);
	}
}
@supports (-moz-appearance: meterbar) and (all: initial) {
	._lc .wc {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: stretch;
		align-items: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}
}
._lc._ts .th {
	-webkit-line-clamp: 1;
}
._lc._ts._lh14 .th {
	max-height: 1.4em;
}
._lc._ts .td {
	-webkit-line-clamp: 2;
}
._lc._ts._lh14 .td {
	max-height: 2.8em;
}
@media (min-width: 460px) {
	._lc._ts .th {
		-webkit-line-clamp: 1;
	}
	._lc._ts._lh14 .th {
		max-height: 1.4em;
	}
	._lc._ts .td {
		-webkit-line-clamp: 3;
	}
	._lc._ts._lh14 .td {
		max-height: 4.2em;
	}
}
.t {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.td,
.th {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
@supports (display: -webkit-box) {
	.td,
	.th {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
}
.td {
	vertical-align: inherit;
}
.tf,
.th {
	margin-bottom: 0.5em;
}
.td {
	margin-bottom: 0.6em;
}
._od .tf:last-child {
	margin-bottom: 0 !important;
}
.tf {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.tc {
	-ms-flex: 1;
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (min-width: 460px) {
	.td {
		margin-bottom: 0.7em;
	}
}
._ffsa {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
}
._fwn {
	font-weight: 400;
}
._fwb {
	font-weight: 700;
}
._fsn {
	font-style: normal;
}
._lh14 {
	line-height: 1.4;
}
._f0,
._f1m {
	font-size: 12px;
}
._f1p {
	font-size: 13px;
}
@media (min-width: 360px) {
	._f0 {
		font-size: 13px;
	}
	._f1p {
		font-size: 14px;
	}
}
@media (min-width: 460px) {
	._f1m {
		font-size: 13px;
	}
	._f0 {
		font-size: 14px;
	}
	._f1p {
		font-size: 15px;
	}
}
@media (min-width: 600px) {
	._f1m {
		font-size: 14px;
	}
	._f0 {
		font-size: 15px;
	}
	._f1p {
		font-size: 17px;
	}
}
.e {
	overflow: hidden;
	position: relative;
	width: 100%;
}
@supports (-moz-appearance: meterbar) and (all: initial) {
	._lc .e {
		-ms-flex: 1;
		flex: 1;
	}
}
._lc:not(._ap) .e {
	height: 100%;
}
.em {
	position: absolute;
	width: 100%;
	height: 100%;
}
.c {
	position: absolute;
	width: 100%;
	height: 100%;
}
.c {
	display: block;
	width: 100%;
	height: 100%;
	background: no-repeat center;
	background-size: cover;
}
.c {
	z-index: 20;
}
.w {
	background-color: inherit;
}
.t {
	line-height: 1.4;
	color: inherit;
}
.th {
	color: inherit;
}
.tf {
	color: #999;
}
.tw {
	color: #999;
}
.thl {
	font-weight: 600;
}
.embed {
	border: 1px solid var(--background-modifier-border);
	overflow: hidden;
	border-radius: var(--radius-s);
	box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px;
	transition: border-color 0.2s ease;
}

.embed:hover {
	border-color: var(--background-modifier-border-hover);
}
.embed:focus {
	border-color: var(--background-modifier-border-focus);
}

/* Embed buttons styling */
.embed-buttons {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.2s ease;
	display: flex;
	gap: 10px;
}

/* Button styling */
.refresh-button,
.copy-button {
	cursor: pointer;
}

/* Show buttons on hover over the embed element */
.embed:hover .embed-buttons {
	opacity: 0.8;
}

/* Full opacity when hovering over the buttons */
.refresh-button:hover,
.copy-button:hover {
	opacity: 1 !important;
}


